html,body,div, ul, li{margin:0; padding:0;}
li{list-style:none;}
header{position:fixed; width:100%; background:#fff;}

header, section{overflow:hidden;}
header ul>li{border-left:1px solid #000;border-bottom:1px solid #000;}
header li, section ul.contsection>li{width:31%; float:left; padding:1%;}
section ul.contsection>li{border-left:1px dotted #ccc;}
header .headingPanel #activities{
  float: right;
}
header .headingPanel h2{
  float: left;
}
header ul{
  clear: both;
}

#amsActivityContentWrapper{
  width: 95%;
  margin: 10px auto;
}
#amsActivityContentWrapper #amsActivityContent{position:absolute; top:25%; width:inherit; height: 500px; overflow-y:scroll;}
